formats/amf/schema/acesMetadataFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:ampas:aces:amf:v1.0"
	xmlns:aces="urn:ampas:aces:amf:v1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cdl="urn:ASC:CDL:v1.01" 
	xmlns:dcml="http://www.smpte-ra.org/schemas/433/2008/dcmlTypes/"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">

	<!-- Import CDL Schema -->
	<xs:import schemaLocation="ASC-CDL_schema_v1.01.xsd" 
		namespace="urn:ASC:CDL:v1.01"/>
	
	<!-- Import SMPTE DCML Types Schema -->
	<xs:import schemaLocation="https://smpte-ra.org/sites/default/files/st433b-2008-am1-2011.xsd"
		namespace="http://www.smpte-ra.org/schemas/433/2008/dcmlTypes/" />
	
	<!-- Import XML Sig Schema -->
	<xs:import schemaLocation="https://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"
		namespace="http://www.w3.org/2000/09/xmldsig#" />

	<!-- Define general types -->
	<xs:simpleType name="singleDigitType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="dateTimeType">
		<xs:sequence>
			<xs:element name="creationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="modificationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="emailAddressType"> 
		<xs:restriction base="xs:string"> 
			<xs:pattern value="[^@]+@[^\.]+\..+"/> 
		</xs:restriction> 
	</xs:simpleType>
	
	<xs:simpleType name="hashAlgoType">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="http://www.w3.org/2001/04/xmlenc#sha256"/>
			<xs:enumeration value="http://www.w3.org/2000/09/xmldsig#sha1"/>
			<xs:enumeration value="http://www.w3.org/2001/04/xmldsig-more#md5"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="hashType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="algorithm" type="aces:hashAlgoType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- Define transform name types -->
	<xs:simpleType name="tnLookTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="urn:ampas:aces:transformId:v1.5:(LMT\.\S+\.\S+\.a\d+\.v\d+|LMT\.Academy\.\S+\.a\d+\.\d+\.\d+)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnInputTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="urn:ampas:aces:transformId:v1.5:IDT\.\S+\.\S+\.a\d+\.v\d+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnOutputDeviceTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="urn:ampas:aces:transformId:v1.5:(ODT\.\S+\.\S+\.a\d+\.v\d+|ODT\.Academy\.\S+\.a\d+\.\d+\.\d+)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tnInverseOutputDeviceTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="urn:ampas:aces:transformId:v1.5:(InvODT\.\S+\.\S+\.a\d+\.v\d+|InvODT\.Academy\.\S+\.a\d+\.\d+\.\d+)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnOutputTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="urn:ampas:aces:transformId:v1.5:(RRTODT\.\S+\.\S+\.a\d+\.v\d+|RRTODT\.Academy\.\S+\.a\d+\.\d+\.\d+)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tnInverseOutputTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="urn:ampas:aces:transformId:v1.5:(InvRRTODT\.\S+\.\S+\.a\d+\.v\d+|InvRRTODT\.Academy\.\S+\.a\d+\.\d+\.\d+)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnReferenceRenderingTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="urn:ampas:aces:transformId:v1.5:RRT\.a\d+\.\d+\.\d+"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tnInverseReferenceRenderingTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="urn:ampas:aces:transformId:v1.5:InvRRT\.a\d+\.\d+\.\d+"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tnColorSpaceConversionTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="urn:ampas:aces:transformId:v1.5:(ACEScsc\.\S+\.\S+\.a\d+\.v\d+|ACEScsc\.Academy\.\S+\.a\d+\.\d+\.\d+)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Define clip identification types -->
	<xs:complexType name="sequenceType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="idx" type="xs:string" use="required"/>
				<xs:attribute name="min" type="xs:nonNegativeInteger" use="required"/>
				<xs:attribute name="max" type="xs:nonNegativeInteger" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="clipIdType">
		<xs:sequence>
			<xs:element name="clipName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="sequence" type="aces:sequenceType"/>
				<xs:element name="file" type="xs:anyURI"/>
				<xs:element name="uuid" type="dcml:UUIDType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Define transform types -->
	<xs:complexType name="transformType">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hash" type="aces:hashType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="inputTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:element name="uuid" type="dcml:UUIDType" minOccurs="1" maxOccurs="1"/>
						<xs:element name="file" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
						<xs:element name="transformId" type="aces:tnInputTransform" minOccurs="1" maxOccurs="1"/>
					</xs:choice>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:sequence>
							<xs:element name="inverseOutputTransform" type="aces:inverseOutputTransformType" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="inverseOutputDeviceTransform" type="aces:inverseOutputDeviceTransformType" minOccurs="1" maxOccurs="1"/>
							<xs:element name="inverseReferenceRenderingTransform" type="aces:inverseReferenceRenderingTransformType" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:choice>
				</xs:choice>
				<xs:attribute name="applied" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="referenceRenderingTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:element name="uuid" type="dcml:UUIDType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="file" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
					<xs:element name="transformId" type="aces:tnReferenceRenderingTransform" minOccurs="1" maxOccurs="1"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="outputDeviceTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:element name="uuid" type="dcml:UUIDType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="file" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
					<xs:element name="transformId" type="aces:tnOutputDeviceTransform" minOccurs="1" maxOccurs="1"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="inverseReferenceRenderingTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:element name="uuid" type="dcml:UUIDType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="file" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
					<xs:element name="transformId" type="aces:tnInverseReferenceRenderingTransform" minOccurs="1" maxOccurs="1"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="inverseOutputDeviceTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:element name="uuid" type="dcml:UUIDType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="file" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
					<xs:element name="transformId" type="aces:tnInverseOutputDeviceTransform" minOccurs="1" maxOccurs="1"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="outputTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:element name="uuid" type="dcml:UUIDType" minOccurs="1" maxOccurs="1"/>
						<xs:element name="file" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
						<xs:element name="transformId" type="aces:tnOutputTransform" minOccurs="1" maxOccurs="1"/>
					</xs:choice>
					<xs:sequence>
						<xs:element name="referenceRenderingTransform" type="aces:referenceRenderingTransformType" minOccurs="1" maxOccurs="1"/>
						<xs:element name="outputDeviceTransform" type="aces:outputDeviceTransformType" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="inverseOutputTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:element name="uuid" type="dcml:UUIDType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="file" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
					<xs:element name="transformId" type="aces:tnInverseOutputTransform" minOccurs="1" maxOccurs="1"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="workingSpaceTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:element name="uuid" type="dcml:UUIDType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="file" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
					<xs:element name="transformId" type="aces:tnColorSpaceConversionTransform" minOccurs="1" maxOccurs="1"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="cdlWorkingSpaceType">
		<xs:sequence>
			<xs:element name="toCdlWorkingSpace" type="aces:workingSpaceTransformType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fromCdlWorkingSpace" type="aces:workingSpaceTransformType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="lookTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:sequence>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:choice minOccurs="1" maxOccurs="1">
							<xs:element name="uuid" type="dcml:UUIDType" minOccurs="1" maxOccurs="1"/>
							<xs:element name="file" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
							<xs:element name="transformId" type="aces:tnLookTransform" minOccurs="1" maxOccurs="1"/>
						</xs:choice>
						<xs:sequence>
							<xs:element name="cdlWorkingSpace" type="aces:cdlWorkingSpaceType" minOccurs="1" maxOccurs="1"/>
							<xs:choice minOccurs="1" maxOccurs="1">
								<xs:sequence>
									<xs:element ref="cdl:SOPNode" minOccurs="1" maxOccurs="1"/>
									<xs:element ref="cdl:SatNode" minOccurs="1" maxOccurs="1"/>
								</xs:sequence>
									<xs:element ref="cdl:ColorCorrectionRef"/>
							</xs:choice>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="applied" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="versionType">
		<xs:sequence>
			<xs:element name="majorVersion" type="aces:singleDigitType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="minorVersion" type="aces:singleDigitType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="patchVersion" type="aces:singleDigitType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="authorType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="emailAddress" type="aces:emailAddressType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="infoType">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="author" type="aces:authorType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dateTime" type="aces:dateTimeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="uuid" type="dcml:UUIDType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pipelineInfoType">
		<xs:complexContent>
			<xs:extension base="aces:infoType">
				<xs:sequence>
					<xs:element name="systemVersion" type="aces:versionType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="pipelineType">
		<xs:sequence>
			<xs:element name="pipelineInfo" type="aces:pipelineInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="inputTransform" type="aces:inputTransformType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lookTransform" type="aces:lookTransformType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="outputTransform" type="aces:outputTransformType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Define ACES Metadata File element -->
	<xs:element name="acesMetadataFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="amfInfo" type="aces:infoType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="clipId" type="aces:clipIdType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="pipeline" type="aces:pipelineType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="archivedPipeline" type="aces:pipelineType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required" fixed="1.0"/>
		</xs:complexType>
	</xs:element>

</xs:schema>